[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pypi"

[packages]
autopep8 = "*"
flake8 = "*"
wemake-python-styleguide = "*"
requests = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
